AIRFLOW_UID=50000
FERNET_KEY=glItU4BGNgIEnxuN4XCb34tndlBj90TYOaMpINYULf8=

POSTGRES_DSN=host=pg port=5432 dbname=music user=user password=password
CLICKHOUSE_DSN=http://clickhouse:8123
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=password
CLICKHOUSE_DATABASE=music_mart
